@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flow {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-flow {
  animation: flow infinite 1s alternate-reverse;
}
