@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes opacity {
  0% {
    opacity: 0.05;
  }
  100% {
    opacity: 0.1;
  }
}

.animate-opacity {
  animation: opacity infinite 1s alternate-reverse;
}

.shiny-text {
  -webkit-animation: shine 2s linear infinite alternate;
  animation: shine 2s linear infinite alternate;
  border-style: none;
  color: #ededed;
  font-weight: 500;
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  outline: none;
  text-decoration: none;
}

@keyframes shine {
  0% {
    -webkit-mask-position: 150%;
  }
  100% {
    -webkit-mask-position: -50%;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(90%);
  }
}

.animate-slide {
  animation: slide infinite 1s alternate-reverse;
}

.input {
  @apply w-[380px] h-12 border-none outline-none rounded-md bg-[#1e1e1e] pl-4 font-semibold text-gray-400 my-2;
}

.btn-disabled {
  @apply disabled:opacity-50 disabled:cursor-not-allowed;
}

.shiny-div {
  position: relative;
  overflow: hidden;
}

.shiny-div::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  background-size: 200%;
  animation: shimmer 2s linear infinite alternate;
}
@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.loading-animation {
  @apply shiny-div bg-gray-200;
}
.react-calendar-heatmap .color-scale-0 {
  fill: #14181d;
}
.react-calendar-heatmap .color-scale-1 {
  fill: rgba(243, 88, 21, 0.2);
}
.react-calendar-heatmap .color-scale-2 {
  fill: rgba(243, 88, 21, 0.4);
}
.react-calendar-heatmap .color-scale-3 {
  fill: rgba(243, 88, 21, 0.6);
}
.react-calendar-heatmap .color-scale-4 {
  fill: rgba(243, 88, 21, 0.8);
}
.react-calendar-heatmap .color-scale-5 {
  fill: #f35815;
}
